body{

	background-color:#222222;
	font-family:Helvetica;
	color:white;
	margin-left: 20px;
}

#logo, #tagline{
	font-family: Courier, monospace;
	display:inline-block;
	vertical-align: middle;
}

.header{
	margin:30px;
}

#tagline{
	margin:0px;
}

#logo{
	min-width:400px;
	max-width: 100%;
}

h1, h2, h3{
	color:#e23636;
}

td, th, tr{
	padding:10px;
	border:2px solid gray;
}

th{

	background-color: gray;
}

.now_playing{
	font-weight:bold;
	font-style:italic;
	color:#FD504F;
}


a:link{
	color:blue;
}

a:hover{
	color:yellow;
}

a:visited{
	color:lightblue;
}

nav{
	text-align: center;
	margin:40px;
}

@media (max-width: 600px) {
  #tagline{
    display: none;
  }
}
